@media (min-width: 590px) and (max-width: 720px) {
    .container_botao {
        margin-top: -4%;
    }

    .logo {
        display: none;
    }
}


/*Mobile pequeno (largura menor que 590px)*/
@media (max-width: 590px) {
    .container_botao {
        margin-top: 0;
    }

    .container {
        height: 100vh;
    }


    & .titulo {
        height: 8%;
        align-items: flex-end;
    }


    .input-container .line {
        left: 280px;
    }

    .wave-group {
        width: 90%;

        & .input {
            width: 100%;
        }
    }

    .container_botao {
        max-height: 6%;
    }
}


@media (max-width: 400px) {
    .input-container .line {
        left: 200px;
    }
}