*{
    padding: 0;
    margin: 0;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --cor-menu: #7BC8F6;
}


.header{
    display: flex;

    align-items: center;

    height: 11vh;
    width: 100%;

    background-color: var(--cor-menu);
}


.header_container{
    display: flex;

    align-items: center;

    height: 100%;
    width: 90%;
}


.logo{
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 10%;

    & .imagem{
        height: 55px;
        width: 55px;
    }
}





.container{
    display: flex;

    justify-content: center;
    align-items: flex-start;

    background-color: var(--cor-menu);

    height: 89vh;
    width: 100%;
}



.container_formulario{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 90%;
    width: 35em;

    background-color: whitesmoke;

    margin-top: min(-2%);
    border-radius: 10px;

    & .titulo{
        display: flex;

        justify-content: center;
        align-items: flex-start;

        height: 8%;
        width: 90%;


        color: #333333;
        font-size: 17px;

    }

    /*Logo dentro do Forms, só vai aparecer quando o Logo no Header desaparecer*/
    /**/
    & .logo_formulario{
        display: none;
        align-items: center;


        height: auto;
        width: 90%;

        & .imagem{
            height: 55px;
            width: 55px;
        }
    }


    & .container_inputs{
        display: flex;
        align-items: center;

        height: 75%;
        width: 90%;

        margin-top: 20px;

        flex-wrap: wrap;
        justify-content: space-around;
    }

    & .container_botao{
        display: flex;
        align-items: flex-end;

        height: 10%;
        width: 90%;

    }
}


/*Input*/


.wave-group {
    position: relative;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 5px 5px;
    display: block;
    min-width: 35%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 10px;
    color: #5264ae;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}





/*Botão*/
.button {
    min-width: 140px;
    padding: 0;
    border: none;
    transform: rotate(0deg);
    transform-origin: center;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #7BC8F6;
}

.button:last-child{
    margin-left: 20px;
}

.button span {
    background: #f1f5f8;
    display: block;
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}

.button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
}