@media (min-width: 500px) AND (max-width: 800px){
    .titulo h1{
        font-size: 30px;
    }
}


@media (min-width: 200px) AND (max-width: 500px){
    .titulo h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
}