<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Definição de servlets -->


  <servlet>
    <servlet-name>ClienteController</servlet-name>
    <servlet-class>toyhouse.controller.cliente.ClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteController</servlet-name>
    <url-pattern>/cadastrarCliente</url-pattern>
  </servlet-mapping>


  <!-- Definição da página principal -->
  <welcome-file-list>
    <welcome-file>Pages/Home/home.jsp</welcome-file>  <!-- Caminho correto para 'home.jsp' -->
  </welcome-file-list>

</web-app>
